<div class="add-product">
	<h3>Add New Product</h3>

	<%= form_for(@product) do |f| %>
		<p>
			<%=  f.label "Name : " %>
			<%=  f.text_field :name %>
		</p>

		<p>
			<%=  f.label "Description : " %>
			<%=  f.text_field :description %>
		</p>

		<p>
			<%=  f.label "Price : " %>
			<%=  f.text_field :price %>
		</p>

		<%#= f.fields_for :category_products do |builder| %>
		<!-- <p>
			<%#=  builder.label "Category : " %>
			<%#=  builder.collection_check_boxes :category_ids, Category.all, :id, :kind do |b| %>
		</p> -->
		<%# end %>

		<% Category.all.each do |category| %>
			<%= check_box_tag 'category_ids', category.id -%> 
        	<%= category.kind %>
		<% end %>

		<%= f.submit %>
	<% end %>
</div>